body {
  background-color: #EAF6F6;

}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
h1{
color: #66BFBF;
font-size: 70px;
text-align: center;
}

h3{
color: #66BFBF;
}
.ProfilePicture {
  border-radius:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a{
  text-decoration: none;
 }
a:hover{
  color:#30e3cb;
}

/* Navigation bar */
.navbar {
   padding: 4.5 0 4.5rem;
    background-color:  #EAF6F6;

}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.3rem;
  font-weight: bold;
    padding: 2rem 0 0 2rem;

}

.nav-item {
  padding-top: 3.2rem;
    margin-right: 4.5rem;

}
.navbar-toggler {
    padding-top: 2rem;

}

.nav-link {
  font-family: "Montserrat-light";
  font-size: 1.2rem;
}
